<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>

<table>
  <tr>
    <th>Company</th>
    <th>Quotation</th>
    <th>Variation</th>
  </tr>
   {{#each opinions}}
		 <tr>
		    <td>{{name}}</td>
		    <td>{{quot}}$</td>
  			<td ><font color="green">+{{percent}}%</font></td>	
  		</tr>
	{{/each}}
 
</table>

